{% extends 'myapp/base.html' %}
{% load static %}
{% block myheader %}
    {% if user.profile.usertype == 'vvip' %}
        <center>15% Discount for VIP member</center>
    {% elif user.profile.usertype == 'vip' %}
        <center>10% Discount for VIP member</center>
    {% elif user.profile.usertype == 'member' %}
        <center>15% Discount for VIP member</center>
    {% endif %}
{% endblock myheader %}
{% block content %}
    <center>
        {% for data in pd %}
            <h1>{{ data.title }}</h1>
            <p>
                {{ data.description }}
                <br>
                price : {{ data.price }}
                <br>
                stack : {{ data.quantity }}
                <br>
            </p>
            <hr>
        {% endfor %}
    </center>
{% endblock content %}
